:root {
    --color-1: #000;
    --color-2: #FFF;
    --color-3: #00E3D8;
    --color-4: #8A3119;
    --color-5: #46444C;
}
body {
    background: var(--color-1);
    text-align: center
}
#mainPanel {
    font-family: 'Aladin', cursive;
    display: inline-block;
    margin-top: 140px;
    color: var(--color-3);
    background: var(--color-5);
    border: 4px solid var(--color-2);
    border-radius: 20px;
}
#gamePanel {
    font-family: 'Aladin', cursive;
    display: inline-block;
    color: var(--color-3);
    background: var(--color-5);
    border: 4px solid var(--color-2);
    border-radius: 20px;
}
#indexPanel{
    height: 360px;
    width: 575px;
}
#homeTitleBar{
	margin: -.7px;
	margin-bottom: 6px;
	margin-top: -0.5px;
	padding-top: 2px;
    background-color: var(--color-5);
    border-bottom: 3px solid var(--color-2);
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#gridSelect {
    margin: 5px;
    margin-left: 215px;
    margin-bottom: 10px;
}
#sliderBox {
    display: table-header-group;
}
#gridLabel {
    display: table-header-group;
}
#sliderValue {
    display: table-header-group;
}
#homeTitleBar h1{
  margin: 10px 10px 10px 10px;
}
form{
	padding: 10px 3px;
	font-size: 20px;
}
#gameType_Selection p{
	display: inline-block;
	margin: 0 25px;
}
form input{
	font-size: 18px;
	padding: 0 3px;
	padding-top: 1px;
}
form>input{
	width: 110px;
}
form>p>input{
	width: 115px;
}
form select{
	width: 137px;
	font-size: 18px;
	position: relative;
	top: -1px;
}
input[type='radio']:after {
    position: relative;
    top: -2px;
    left: -2px;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: var(--color-4);
    content: '';
    display: inline-block;
    border: 3.4px solid var(--color-4);
}
input[type='radio']:checked:after {
    background-color: var(--color-3);
}
#player1Name, #player2Name {
    color: var(--color-4);
    font-family: 'Aladin', cursive;
}
.btn {
    background: var(--color-4);
    color: var(--color-3);
    font-family: 'Aladin', cursive;
    border: 2px solid var(--color-2);
}
#current_player {
    font-size: 25px;
    border-bottom: 2px solid var(--color-2);
    margin-top: 4px;
    margin-bottom: 4px;
}
#message_box {
    display: none;
}
canvas {
    background: var(--color-4);
    margin: 10px;
}