:root {
    --color-1: #000;
    --color-2: #FFF;
    --color-3: #00E3D8;
    --color-4: #8A3119;
    --color-5: #46444C;
}
body {
    background: var(--color-1);
    text-align: center
}
a {
    float: left;
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    text-decoration: none;
    padding: 4px 8px;
    font-family: 'Aladin', cursive;
}
.btn {
    background: var(--color-4);
    color: var(--color-3);
    font-family: 'Aladin', cursive;
    border: 2px solid var(--color-2);
}

/*Index*/
#mainPanel {
    font-family: 'Aladin', cursive;
    display: inline-block;
    margin-top: 100px;
    color: var(--color-3);
    background: var(--color-5);
    border: 4px solid var(--color-2);
    border-radius: 20px;
}
#indexPanel{
    height: 360px;
    width: 575px;
}
#homeTitleBar{
	margin: -.7px;
	margin-bottom: 6px;
	margin-top: -0.5px;
	padding-top: 2px;
    background-color: var(--color-5);
    border-bottom: 3px solid var(--color-2);
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#gridSelect {
    margin: 5px;
    margin-left: 215px;
    margin-bottom: 10px;
}
#sliderBox {
    display: table-header-group;
}
#gridLabel {
    display: table-header-group;
}
#sliderValue {
    display: table-header-group;
}
#homeTitleBar h1{
  margin: 10px 10px 10px 10px;
}
#gameType_Selection p{
	display: inline-block;
	margin: 0 25px;
}
#player1Name, #player2Name {
    color: var(--color-4);
    font-family: 'Aladin', cursive;
}
form{
	padding: 10px 3px;
	font-size: 20px;
}
form input{
	font-size: 18px;
	padding: 0 3px;
	padding-top: 1px;
}
form>input{
	width: 110px;
}
form>p>input{
	width: 115px;
}
form select{
	width: 137px;
	font-size: 18px;
	position: relative;
	top: -1px;
}
input[type='radio']:after {
    position: relative;
    top: -2px;
    left: -2px;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: var(--color-4);
    content: '';
    display: inline-block;
    border: 3.4px solid var(--color-4);
}
input[type='radio']:checked:after {
    background-color: var(--color-3);
}

/*Pente*/
.flex-container {
    display: flex;
}

/*Board*/
#gamePanel {
    margin-left: 75px;
    font-family: 'Aladin', cursive;
    display: inline-block;
    color: var(--color-3);
    background: var(--color-5);
    border: 4px solid var(--color-2);
    border-radius: 20px;
}
#player_box {
    font-size: 25px;
    border-bottom: 2px solid var(--color-2);
    margin-top: 4px;
    margin-bottom: 4px;
}
#turn_clock {
    margin-left: 20px;
}
canvas {
    background: var(--color-4);
    margin: 10px;
}

/*Side bar*/
#gamePanel2 {
    margin-top: 75px;
    margin-left: 20px;
    height: 500px;
    width: 400px;
    font-family: 'Aladin', cursive;
    display: inline-block;
    color: var(--color-3);
    background: var(--color-5);
    border: 4px solid var(--color-2);
    border-radius: 20px;
    text-align: center;
}
#firstPlayer {
    margin-top: 20px;
    margin-bottom: 45px;
}
#secondPlayer {
    border-top: 2px solid var(--color-2);
}

/*Load and Save*/
#saveBox {
    margin-top: 50px; 
}
#saveBox button {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    text-decoration: none;
    padding: 2px 10px;
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#saveBox ::-webkit-input-placeholder {
    color: var(--color-3);
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#saveBox input {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    font-size: 18px;
    font-family: 'Aladin', cursive;
    padding-left: 5px;
}
#loadBox2 {
    margin-top: 20px;
}
#loadBox2 button {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    text-decoration: none;
    padding: 2px 10px;
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#loadBox2 input {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#loadBox {
    margin-top: 10px;
    margin-bottom: 20px;
}
#loadBox button {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    text-decoration: none;
    padding: 2px 10px;
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#loadBox input {
    color: var(--color-3);
    background: var(--color-4);
    border: 2px solid var(--color-2);
    font-size: 18px;
    font-family: 'Aladin', cursive;
}
#loadGame, #saveGame {
    margin-top: 10px;
}